.sign-up{
    width: 100%;
    height: 100vh;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.sign-up-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 56px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 21px 93px;
    box-sizing: border-box;
}

.sign-up-header-title {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    font-family: Verdana, sans-serif;
    float: left;
    font-weight: bold;
}

.sign-up-header-title:hover {
    color: #39895d;
    transition: 0.5s;
}

.welcome {
    color: white;
    font-size: 14px;
    float: right;
    font-family: Verdana, sans-serif;
}


.header-icons {
    padding-right: 25px;
    border-right: 1px solid #33312f;
    position: absolute;
    top: 18px;
    right: 315px;
}

.header-icon-1 {
    content: "";
    display: inline-block;
    background: url("../img/sprites.png") -50px -86px;
    width: 28px;
    height: 20px;
    margin-right: 20px;
}

.header-icon-1:hover {
    background: url("../img/sprites.png") -89px -86px;
}


.header-icon-2 {
    content: "";
    display: inline-block;
    background: url("../img/sprites.png") -10px -10px;
    width: 28px;
    height: 20px;
    margin-right: 25px;
}

.header-icon-2:hover {
    background: url("../img/sprites.png") -58px -10px;
}

.header-icon-3 {
    content: "";
    display: inline-block;
    background: url("../img/sprites.png") -106px -10px;
    width: 20px;
    height: 20px;
}

.header-icon-3:hover {
    background: url("../img/sprites.png") -10px -86px;
}



.green-text {
    text-decoration: none;
    color: #39895d;
}

.green-text:hover {
    padding-bottom: 1px;
    border-bottom: 1px solid #39895d;
}

.sign-up-form {
    width: 444px;
    height: 584px;
    background-color: white;
    position: absolute;
    border-radius: 10px;
    padding: 25px 60px 32px;
    box-sizing: border-box;
    /*transform: translate(-50%, -50%);*/
    top: 50%;
    left: 50%;
    margin: -264px 0 0 -222px; /*Щоб розмістити форму по-центру.*/
}

.green-square {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    position: absolute;
    left: 0;
    top: 30px;
}

.sign-up-form-title {
    display: inline-block;
    font-size: 20px;
    color: #434343;
    font-family: Verdana, sans-serif;
    margin-bottom: 20px;
}

.sign-up-form-log-in {
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    color: #3cb878;
    font-family: Verdana, sans-serif;
    margin-bottom: 20px;
    margin-top: 2px;
    float: right;
}

.sign-up-form-log-in:hover {
    text-decoration: underline;
}

.facebook {
    display: inline-block;
    background-color: #305db8;
    width: 157px;
    height: 46px;
    border-radius: 4px;
    float: left;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 13px;
    box-sizing: border-box;
    position: relative;
}

.facebook:hover {
    background-color: #264b96;
    cursor: pointer;
    transition: 0.8s;
}


.facebook::after {
    content: url("../img/Rectangle.png");
    position: absolute;
    left: 45px;
    top: 10px;
}

.facebook::before {
    content: "";
    display: inline-block;
    background: url("../img/sprites.png") -146px -10px;
    width: 10px;
    height: 20px;
    margin-right: 32px;
    vertical-align: middle;
    padding-bottom: 3px;
    /*margin-right: 15px;
    border-right: 1px solid rgba(30, 30, 30, 0.5);
    padding-right: 15px;*/
}


.facebook-link {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: Verdana, sans-serif;
}

.google {
    display: inline-block;
    background-color: #df4a32;
    width: 157px;
    height: 46px;
    border-radius: 4px;
    float: right;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 14px;
    box-sizing: border-box;
    padding-right: 12px;
    position: relative;
}

.google:hover {
    background-color: #c3412c;
    cursor: pointer;
    transition: 0.8s;
}


.google::after {
    content: url("../img/Rectangle.png");
    position: absolute;
    left: 50px;
    top: 10px;
}


.google::before {
    content: "";
    display: inline-block;
    background: url("../img/sprites.png") -10px -50px;
    width: 25px;
    height: 16px;
    margin-right: 28px;
    vertical-align: middle;
    padding-bottom: 3px;
    /*margin-right: 14px;
    border-right: 1px solid rgba(30, 30, 30, 0.5);
    padding-right: 14px;*/
}



.google-link {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: Verdana, sans-serif;
}

.sign-up-form-or {
    font-family: Verdana, sans-serif;
    font-size: 14px;
    color: #848484;
    text-align: center;
    margin-bottom: 18px;
}

.sign-up-form-or::before {
    content: url("../img/line.png");
    position: absolute;
    top: 123px;
    left: 60px;

}

.sign-up-form-or::after {
    content: url("../img/line.png");
    /*float: right;*/
    position: absolute;
    top: 123px;
    right: 60px;
}

.sign-up-form-field {
    margin-bottom: 9px;
    padding: 18px 0 18px 19px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #bebebe;
    border-radius: 3px;
}


.sign-up-form-field:focus {
    outline: 0;
    outline-offset: 0;
    border: none;
    box-shadow: 0 3px 8px #d6d6d6;
    font-size: 14px;
    font-family: Verdana, sans-serif;
}


.sign-up-form-field::placeholder {
    font-family: Verdana, sans-serif;
    font-size: 14px;
    color: #bebebe;
}

.last-item {
    margin-bottom: 12px;
}

input[type=checkbox] {
    display: none;
}

input[type="checkbox"] + label {
    cursor: pointer;
    font-family: Verdana, sans-serif;
    font-size: 14px;
}


label::before {
    content: " ";
    display: inline-block;
    font: 15px/21px Verdana;
    margin-right: 15px;
    text-align: center;
    width: 20px;
    height: 20px;
    border: 1px solid #bebebe;
    border-radius: 3px;
    border-image: initial;
    vertical-align: middle;
}


input[type="checkbox"]:checked + label::before {
    content: url("../img/checkbox.png");
}


.terms-conditions {
    text-decoration: none;
    color: #3cb878;
}

.terms-conditions:hover {
    text-decoration: underline;
}


.sign-up-button {
    width: 100%;
    height: 46px;
    border: none;
    background-color: #3cb878;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    font-family: Verdana, sans-serif;
    margin-top: 20px;
}

.sign-up-button:hover {
    background-color: #329a65;
    cursor: pointer;
    transition: 0.8s;
}

.clearfix{
    content: "";
    display: block;
    clear: both;
}