body {
width: 1480px;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.logo {
    font-size: 80px;
    font-family: sans-serif;
    color: #4bcaff;
    text-decoration: none;
}

h1 {
    margin-top: 61px;
    margin-bottom: 45px;
}
.first-letters {
    color: black;
}

.navbar-menu {
    padding: 21px 0;
    background-color: #35444f;
    margin-bottom: 51px;
    text-align: center;
}

.navbar-menu-link {
    text-decoration: none;
    color: white;
    font-size: 24px;
    margin-right: 42px;
}

.navbar-menu-link:hover {
    border-top: none;
    border-bottom: none;
    border-left: 1px solid white;
    border-right: 1px solid white;
    background-color: #222f3a;
    padding: 19px 41px; /*верхний/нижний просто подобрала значение*/
}
.last-item {
    margin-right: 0;
}

.right-menu {
    border: 1px solid #6d7982;
    width: 330px; /*краще замінити на падінги*/
    display: inline-block;
}


.right-menu-last-item {
    margin-bottom: 0;
}

.right-menu-link {
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    color: #6d7982;
    font-size: 30px;
    padding: 20px 0 20px 44px;
 }

.right-menu-link:hover {
    background-color: #dbdbdb;
    color: black;
    padding-left: 75px;
}

.picture-border {
    /*display: inline-block;*/
    border: 1px solid #6d7982;
    width: 850px;
    height: 529px;
    margin-bottom: 50px;
    vertical-align: top;
    float: right;
    /*margin-left: 92px;*/
    display: inline-flex; /*чтобы выровнять картинку по центру блока*/
}

/*.picture {
    vertical-align: middle;
    display: block;
    margin: auto;
}*/

.picture {
    margin: auto; /*чтобы выровнять картинку по центру блока*/
    transition: all 1s ease-out;
}

.picture-border:hover .picture{
    transform: scale(1.1);
}

.text {
    clear: both; /*чтобы этот элемент начал "замечать" наш блок с картинкой у которого есть свойство float и сдвинулся вниз после него, а не обтекал слева*/
    width: 810px;
    float: right;
    padding-right: 20px;
}

.first-p {
    margin-bottom: 31px;
}

.second-p {
    margin-bottom: 51px;
}

.navbar-menu-bottom {
    clear: both;
    padding: 22px 34px 22px 44px;
    background-color: #b4b7ba;
    margin-bottom: 30px;
}

.navbar-menu-bottom-link {
    text-decoration: none;
    font-size: 28px;
    margin-right: 15px;
    color: #0c1927;
}

.navbar-menu-bottom-link:hover {
    color: #3181a6;
    /*text-decoration: underline;*/
    border-bottom: 1px solid #3181a6;
    padding-bottom: 2px;
}


.copyright {
    font-size: 24px;
    color: #0c1927;
    float: right;
}