.block {
    margin: 30px;
    padding: 20px;
    background-color: mediumvioletred;
    width: 360px;
}

.price {
    font-size: 25px;
    color: white;
    padding-right: 15px;
    font-weight: bold;
}

.input {
    border: 3px solid mediumvioletred;
    padding: 5px;
    border-radius: 5px;
    height: 20px;
    font-size: 20px;
    outline: none; /*Щоб забрати синю рамку навколо поля для вводу*/
}

#spanText {
    opacity: 0.8;
}

#spanText:after {
    content: '×';
    margin-left: 4px;
    padding: 0 4px;
    cursor: pointer;
    border: 1px solid grey;
    border-radius: 50%;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    opacity: 0.6;
}


#modalwin {
    margin: 30px 0 0 30px;
    position: relative;
    border: 1px solid grey;
    padding: 5px 10px;
    display: none;
    border-radius: 20px;
}

.uncorrectPrice {
    padding-top: 5px;
    margin: 0;
    text-align: center;
    font-size: 18px;
}