.table-dark {
    border: 20px solid #3a4965;
    border-collapse: collapse;
    text-align: center;
    text-transform: uppercase;
    color: #484848;
    font-size: 16px;
    font-family: 'Arimo', sans-serif;
    display: inline-block;
}

td {
    border-right: 3px solid #d3d3d3;
    vertical-align: middle;
    height: 60px;
}

th {
    vertical-align: middle;
}

tr:nth-child(1n) {
    background-color: #f2f2f2;
}

tr:nth-child(2n) {
    background-color: #e3e3e3;
}

.head-title {
    background-color: #fafafa;
    width: 310px;
    height: 156px;
    font-weight: bold;
    line-height: 1.5;
}

.head-title-1 {
    font-size: 18px;
}

.head-title-2 {
    font-size: 30px;
}

.head-standard-dark {
    border-left: 3px solid #d3d3d3;
    font-size: 24px;
    color: white;
    font-weight: bold;
    background-color: #89c331;
    width: 277px;
    height: 70px;
}

.head-ultimate-dark {
    font-size: 30px;
    color: white;
    font-weight: bold;
    background-color: #f04a56;
    width: 277px;
    height: 70px;
}

.head-premium-dark {
    font-size: 24px;
    color: white;
    font-weight: bold;
    background-color: #20807c;
    width: 277px;
    height: 70px;
}

.icons {
    color: #848484;
    font-size: 20px;
    padding-right: 10px;
}

.price {
    border-left: 3px solid #d3d3d3;
    background-color: #fafafa;
    padding-right: 90px;
}

.price-money {
    font-size: 60px;
    font-weight: bold;
}

.price-money-sup {
    vertical-align: super;
    font-size: 24px;
    position: absolute;
}

.price-per-month {
    position: absolute;
    top: 135px;
}

.button {
    border: none;
    border-radius: 6px;
    width: 192px;
    height: 48px;
    text-transform: uppercase;
    margin: 30px 0;
    font-size: 16px;
    color: white;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.2);
}


.button-contact-dark {
    background-color: #484848;
}

.button-buy-standard-dark {
    background-color: #89c331;
}

.button-buy-ultimate-dark {
    background-color: #f04a56;
}

.button-buy-premium-dark {
    background-color: #20807c;
}


#change-btn {
    display: inline-block;
    border: none;
    border-radius: 6px;
    position: absolute;
    top: 5px;
    margin-left: 5px;
    padding: 10px;
    font-size: 16px;
    background-color: darkblue;
    color: white;
    cursor: pointer;
    outline: none;
}


.table {
    border: 20px solid violet;
    border-collapse: collapse;
    text-align: center;
    text-transform: uppercase;
    color: #484848;
    font-size: 16px;
    font-family: 'Arimo', sans-serif;
    display: inline-block;
}

.head-standard {
    border-left: 3px solid #d3d3d3;
    font-size: 24px;
    color: black;
    font-weight: bold;
    background-color: greenyellow;
    width: 277px;
    height: 70px;
}

.head-ultimate {
    font-size: 30px;
    color: black;
    font-weight: bold;
    background-color: lightpink;
    width: 277px;
    height: 70px;
}

.head-premium {
    font-size: 24px;
    color: black;
    font-weight: bold;
    background-color: turquoise;
    width: 277px;
    height: 70px;
}


.button-contact {
    background-color: lightgrey;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.button-buy-standard {
    background-color: greenyellow;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.button-buy-ultimate {
    background-color: lightpink;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.button-buy-premium {
    background-color: turquoise;
    color: black;
    font-weight: bold;
    font-size: 20px;
}


