/*  Flexbox  */

.navbar {
    display: flex;
    align-items: center;
    background-color: #1d2124;
    height: 55px;
    justify-content: space-between;
    font-family: sans-serif;
}


.navbar-logo {
    display: flex;
    align-items: center;
    width: 144px;
    justify-content: space-between;
}

.navbar-logo-img {
    padding: 13px;
    background-color: #1a1d20;
}

.navbar-logo-name {
    text-decoration: none;
    color: white;
    font-size: 22px;
}

.navbar-menu {
    display: flex;
    width: 650px;
    justify-content: space-between;
}

.navbar-menu-link {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 15px;
}

.navbar-search {
    display: flex;
    padding: 18px;
    background-color: #1a1d20;
}


.latest-news {
    background-image: url("../img/header-bg-1.jpeg");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply; /*Почитати ще детально*/
    background-position: 0 -530px;
    background-attachment: fixed;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.latest-news-title {
    text-transform: uppercase;
    color: white;
    font-family: sans-serif;
    font-size: 27px;
    padding-bottom: 44px;
}

.latest-news-buttons {
    display: flex;
    width: 365px;
    justify-content: space-between;
}

.latest-news-button {
    border: none;
    height: 55px;
    width: 170px;
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    border-radius: 6px;
}

.button-subscribe {
    background-color: #89ca62;
}

.button-articles {
    background-color: #14b9d5;
}

.latest-news-button:hover {
    cursor: pointer;
}

.popular-posts-section {
    background-color: #f2f2f2;
    font-family: sans-serif;
}

.section-title {
    text-transform: uppercase;
    font-size: 27px;
    color: #18b4cf;
    text-align: center;
    padding: 50px 0;
    font-weight: bold;
}

.popular-posts-wrapper { /*Висота заважає, щоб нормально відображалося при різних розмірах екрана*/
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 900px;
    justify-content: flex-start;
    align-items: center;
}

.popular-posts-link {
    text-decoration: none;
    color: black;
}

.popular-posts-item {
    background-color: #ffffff;
    margin-bottom: 30px;
}

.popular-posts-img {
    padding-bottom: 20px;
}

.popular-posts-name {
    padding-bottom: 22px;
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
}


/* Grid */

.popular-clients {
    background-image: url("../img/header-bg-2.jpeg");
    background-position: 0 -170px;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-attachment: fixed;
    height: 570px;
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
    ". . . . . ."
    ". . . . . ."
    ". . . . . ."
    ". . . . . ."
    "title title title title title title"
    "blue-line blue-line blue-line blue-line blue-line blue-line"
    ". . . . . ."
    ". client1 client2 client3 client4 ."
    ". . . . . ."
    ". . . . . ."
    ". . . . . .";

    justify-items: center;
    align-items: center;
}

.popular-clients-title {
    grid-area: title;
    text-transform: uppercase;
    color: white;
    font-family: sans-serif;
    font-size: 32px;
}

.popular-clients-blue-line {
    grid-area: blue-line;
}

.popular-clients-img-1 {
    grid-area: client1;
}

.popular-clients-img-2 {
    grid-area: client2;
}

.popular-clients-img-3 {
    grid-area: client3;
}

.popular-clients-img-4 {
    grid-area: client4;
}


.top-rated-section {
    display: inline-grid;
    width: 100%;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}


.hot-news-first-block {
    width: 1170px;
    margin: 0 auto 60px auto;
    display: grid;
    grid-template-columns: 3fr 0.9fr;
    grid-column-gap: 35px;
}

.hot-news-second-block {
    width: 1170px;
    margin: 0 auto 40px auto;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 40px;
    grid-column-gap: 62px;
}

.hot-news-third-block {
    width: 1170px;
    margin: 0 auto 60px auto;
    display: grid;
    grid-template-columns: 0.9fr 3fr;
    grid-column-gap: 35px;
}


.hot-news-items {
    background-color: #f9f7f7;
}


.hot-news-description {
    text-align: right;
    padding: 0 20px 18px 20px;
    line-height: 1.5;
}

.hot-news-img-1 {
    float: left;
    padding-bottom: 0;
}


.hot-news-img-8 {
    float: left;
    padding-bottom: 0;
}

.hot-news-description-8 {
    text-align: right;
    padding: 0 24px;
    line-height: 1.5;
}


.hot-news-name-center {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 14px 0 18px 0;
}

.hot-news-name-right {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    padding: 14px 20px 18px 0;
}


.footer {
    height: 55px;
    background-color: #1d2124;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-text {
    font-family: sans-serif;
    font-size: 13px;
    color: white;
}

.footer-logo {
    display: inline-block;
}
