
.main-section{
    width: 100%;
    height: 100%;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}



.container {
    width: 1060px;
    margin: 0 auto;
    padding: 50px 0 20px 0;
    box-sizing: border-box;
}


.logo-link {
    display: inline-block;
    margin-bottom: 48px;
}

.logo-name {
    display: inline-block;
    color: white;
    text-transform: uppercase;
    padding-left: 15px;
    font-family: Verdana, sans-serif;
}

.logo-name-1 {
    font-size: 27px;
}

.logo-name-2 {
    font-size: 17px;
}

.logo-link {
    text-decoration: none;
}



.logo-link:hover .logo-name-1,
.logo-link:hover .logo-name-2 {
    color: #f26522;
}

.logo-link:hover .logo-img {
    content: url("../img/logo-hover.png");
}


.contacts {
    display: inline-block;
    font-size: 18px;
    color: white;
    font-family: Verdana, sans-serif;
    float: right;
}

.contacts-email {
    text-decoration: none;
    color: white;
}


.tours {
    font-size: 18px;
}

.tours-type-left{
    display: inline-block;
    float: left;
    color: white;
    text-align: center;
    margin-right: 58px;
    position: relative;
    margin-bottom: 68px;
}

.tours-type-center{
    display: inline-block;
    color: white;
    text-align: center;
    margin-bottom: 68px;
    position: relative; /*Щоб оранжевий блок можна було розсмістити відносно цього блока*/
}

.tours-type-right{
    display: inline-block;
    color: white;
    text-align: center;
    margin-bottom: 68px;
    position: relative;
    float: right;
}


.tours-img {
    margin-bottom: 15px;
    display: inline-block;
    border: 3px solid;
    border-image: linear-gradient(to top, black, white) 1;
}


.tours-link:hover .tours-name {
    color: #f26522;
}


/*Оранжевий блок, який з'являється*/
.tours-details {
    font-family: Verdana, sans-serif;
    position: absolute;
    bottom: 36px;
    left: 0;
    right: 0;
    background-color: #f26522;
    height: 63px;
    /*display: none;*/
    visibility: hidden;
    margin-bottom: -28px; /*Для анамації*/
}

.tours-link:hover .tours-details {
    /*display: block;*/
    visibility: visible;
    margin-bottom: 0; /*Для анімації*/
    transition: margin 1s;
}


.tours-details-price {
    display: inline-block;
    float: left;
    padding-left: 18px;
    padding-top: 26px;
    font-size: 20px;
    position: relative;
}


.tours-details-price:before {
    content: "from";
    font-size: 10px;
    position: absolute;
    bottom: 20px;
    padding-bottom: 5px;
}

.tours-details-view {
    font-size: 14px;
    float: right;
    padding-top: 31px;
    padding-right: 24px;
}

.tours-details-view::after {
    content: url("../img/arrow.png");
    padding-left: 18px;
}


.copyright {
    font-family: Verdana, sans-serif;
    font-size: 12px;
    color: white;
    text-align: center;
    margin-top: 30px;
}


.clearfix {
    content: "";
    display: block;
    clear: both;
}