.header {
    background-image: url("../img/background/section-1(header).jpg");
    background-attachment: fixed;
    height: 1000px;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100px;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo-img {
    text-align: center;
    padding-top: 9px;
    display: inline-block;
    background-color: #18cfab;
    width: 50px;
    height: 50px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    margin-right: 8px;
}

.navbar-logo-img-text {
    color: white;
    font-size: 40px;
    font-weight: 700;
}

.navbar-logo-name {
    text-decoration: none;
    color: white;
    font-size: 23px;
}

.turquoise-text-bold {
    color: #18cfab;
    font-weight: 700;
}

.navbar-menu {
    font-weight: 700;
    display: flex;
    min-width: 650px;
    justify-content: space-between;
    margin-top: 47px;
}

.navbar-menu-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #cacaca;
    font-size: 13px;
    box-sizing: border-box;
    padding-bottom: 41px;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}

.navbar-menu-link:hover {
    color: #18cfab;
    border-bottom: 2px solid #18cfab;
}

.navbar-search {
    text-decoration: none;
    color: #cacaca;
    font-size: 20px;
    align-self: flex-start;
    margin-top: -4px;
}

.header-titles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 245px;
}

.turquoise-text {
    color: #18cfab;
}
.header-title-first {
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    font-size: 35px;
    padding-bottom: 45px;
}

.header-title-second {
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    font-size: 70px;
    padding-bottom: 37px;
}

.header-title-third {
    font-weight: 300;
    text-transform: capitalize;
    color: #cacaca;
    font-size: 30px;
    padding-bottom: 145px;
}

.header-button {
    font-weight: 700;
    outline: none;
    text-transform: uppercase;
    border: none;
    height: 60px;
    width: 165px;
    color: white;
    font-size: 13px;
    border-radius: 4px;
    box-shadow: 0 -5px 0 white;
}

.button-explore {
    background-color: #18cfab;
    margin-right: 30px;
}

.button-purchase {
    background-color: #00cbf6;
}

.header-button:hover {
    cursor: pointer;
}

.squares {
    display: flex;
    margin-bottom: 60px;
}

.square {
    width: 25%;
    height: 330px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    padding-bottom: 90px;
}

.square-grey {
    background-color: #1c2a33;
    color: #18cfab;
    border-top: 5px solid #18cfab;
}

.square-turquoise {
    background-color: #18cfab;
    color: white;
    border-top: 5px solid white;
}

.square-icon-first {
    padding-bottom: 49px;
}

.square-icon-second {
    padding-bottom: 59px;
}

.square-icon-third {
    padding-bottom: 49px;
}

.square-icon-fourth {
    padding-bottom: 59px;
}

.services {
    font-family: 'Montserrat', sans-serif;
}

.section-title {
    text-transform: capitalize;
    font-size: 36px;
    color: #4e4e4e;
    text-align: center;
    margin-bottom: 50px;
    position: relative;
}

.service-section-title:before {
    content: url("../img/line.png");
    position: absolute;
    top: 32px;
    margin-left: 60px;
}

.service-section-title:after {
    content: url("../img/line.png");
}

.wrapper {
    max-width: 1160px;
    margin: 0 auto;
}

.services-titles {
    margin-bottom: 25px;
    display: flex;
}

.services-title {
    background-color: #f8fcfe;
    color: #959697;
    cursor: pointer;
    border: 1px solid #ebecec;
    box-sizing: border-box;
    width: 193px;
    height: 73px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-title:hover {
    background-color: #18cfab;
    border: 1px solid #18cfab;
    color: white;
}

.services-title-active {
    background-color: #18cfab;
    border: 1px solid #18cfab;
    color: white;
    position: relative;
}

.services-title-active:after {
    content: url("../img/rectangle.png");
    position: absolute;
    top: 66px;
}

.services-content {
    display: none;
}

.services-content-active {
    display: flex;
    margin-bottom: 100px;
}

.services-img {
    width: 194px;
}

.services-content-item {
    display: inline-block;
    margin-left: 20px;
    color: #808080;
    text-align: justify;
    font-size: 14px;
    font-weight: 300;
    align-self: center;
    line-height: 1.8;
}

.purchase {
    background-image: url("../img/background/section-2.jpg");
    background-attachment: fixed;
    background-position: -150px -280px;
    height: 470px;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

.purchase-title-first {
    text-transform: uppercase;
    color: #18cfab;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 35px;
    text-align: center;
}

.purchase-title-second {
    color: #cacaca;
    font-size: 16px;
    margin-bottom: 75px;
}

.works {
    background-color: #f8fcfe;
    padding-top: 90px;
    margin-bottom: 85px;
    border-bottom: 2px solid #e1e1e1;
    font-family: 'Montserrat', sans-serif;
}

.works-section-title:before {
    content: url("../img/line.png");
    position: absolute;
    top: 32px;
    margin-left: 120px;
}

.works-section-title:after {
    content: url("../img/line.png");
}

.works-titles {
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
}

.works-title {
    background-color: white;
    color: #959697;
    cursor: pointer;
    border: 1px solid #ebecec;
    padding: 24px 21px 20px 28px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.works-title-active {
    color: #18cfab;
    border-top: 2px solid #18cfab;
}

.works-imgs-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 73px;
}


.works-img-block {
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-bottom: -3px;
}

.works-img-show-second {
    display: none;
}

.works-img-hide {
    display: none;
}

.works-img-block:hover .works-img-hover {
    display: inline-block;
}

.works-img-hover {
    width: 284px;
    height: 206px;
    padding-top: 38px;
    box-sizing: border-box;
    border-top: 2px solid #18cfab;
    background-color: white;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.works-img-hover-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
}

.works-img-hover-icon1 {
    width: 40px;
    height: 40px;
    border:2px solid #18cfab;
    background-color: white;
    color: #18cfab;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.works-img-hover-icon1:hover {
    background-color: #18cfab;
    color: white;
}

.works-img-hover-icon2 {
    width: 40px;
    height: 40px;
    border:2px solid #18cfab;
    background-color: white;
    color: #18cfab;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.works-img-hover-icon2:hover {
    background-color: #18cfab;
    color: white;
}

.works-img-hover-title {
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 700;
    color: #18cfab;
    margin-bottom: 13px;
}

.works-img-hover-category {
    text-transform: capitalize;
    font-size: 19px;
    font-weight: 300;
    color: #a7a8a9;
}

.load-more-btn {
    cursor: pointer;
    outline: none;
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    border: none;
    height: 60px;
    width: 165px;
    color: white;
    font-size: 14px;
    border-radius: 4px;
    background-color: #18cfab;
    margin: 0 auto 100px auto;
}

.load-more-btn-text {
    vertical-align: super;
    display: inline-block;
    margin-left: 10px;
}

.load-more-plus {
    font-size: 38px;
    vertical-align: sub;
}

.news {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 85px;
}

.news-section-title:before {
    content: url("../img/line.png");
    position: absolute;
    top: 32px;
    margin-left: 82px;
}

.news-section-title:after {
    content: url("../img/line.png");
}

.wrapper-news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.news-block {
    text-decoration: none;
    margin-bottom: 45px;
    position: relative;
}

.news-text {
    background-color: #f8fcfe;
    width: 248px;
    margin-top: -4px;
    padding: 12px 0 12px 13px;
    border: 1px solid #ebebeb;
}

.news-title {
    text-transform: capitalize;
    font-size: 18px;
    color: #717171;
    font-weight: 700;
    padding-bottom: 12px;
}

.news-text-admin {
    font-size: 14px;
    font-weight: 300;
    color: #717171;
    padding-right: 20px;
    position: relative;
}

.news-text-admin:after {
    content: '|';
    font-size: 14px;
    position: absolute;
    right: 6px;
    bottom: 3px;
}

.news-text-comment {
    font-size: 14px;
    font-weight: 300;
    color: #717171;
}

.news-date {
    display: inline-block;
    background-color: #203e38;
    color: white;
    font-size: 16px;
    padding: 8px 18px;
    text-align: center;
    position: absolute;
    bottom: 221px;
    left: 197px;
}

.news-date-number {
    padding-bottom: 10px;
}

.news-block:hover .news-title {
    color: #18cfab;
}

.news-block:hover .news-date {
    background-color: #18cfab;
}

.people-say {
    background-image: url("../img/background/section-3.jpg");
    background-attachment: fixed;
    height: 850px;
    background-position: -150px -380px;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    padding-top: 95px;
    font-family: 'Montserrat', sans-serif;
}

.people-say-title {
    color: white;
    margin-bottom: 120px;
}

.people-say-title:before {
    content: url("../img/line.png");
    position: absolute;
    top: 32px;
    margin-left: 240px;
}

.people-say-title:after {
    content: url("../img/line.png");
}

.people-say-text {
    color: #afb1b1;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    width: 1000px;
    text-align: center;
    margin: 0 auto 40px auto;
    position: relative;
}

.people-say-text:before {
    content: url("../img/quotes.png");
    position: absolute;
    top: -65px;
    left: 479px;
}

.people-say-quote {
    display: none;
}

.people-say-quote-active {
    display: block;
    text-align: center;
}

.people-say-name {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    color: #18cfab;
    margin-bottom: 10px;
}

.people-say-profession {
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 300;
    color: #afb1b1;
}

.people-say-main-img {
    display: inline-block;
    margin: 35px 0 65px 0;
    border-radius: 50%;
    width: 140px;
    box-shadow: 0 0 0 10px rgba(16, 68, 64, 0.5);
    border: 3px solid #18cfab;
}

.people-say-slider {
    width: 450px;
    margin: 0 auto;
}

.people-say-slider-img {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 30px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 0 5px rgba(16, 68, 64, 0.4);
    border: 2px solid rgba(16, 68, 64, 0.4);
}

.people-say-slider-img:hover {
    border: 2px solid #18cfab;
}

.people-say-slider-img-active{
    border: 2px solid #18cfab;
    transform: translateY(-15px);
    transition: 300ms;
}

.footer {
    height: 80px;
    background-color: #22353f;
    border-top: 3px solid #e2e2e2;
    font-size: 14px;
    font-weight: 300;
    color: #bbbbbb;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.footer-logo {
    color: #18cfab;
    text-decoration: none;
}

