body {
    margin: 0;
    padding: 0;
}

div {
    padding-left: 113px;
    padding-right: 108px;
    background-color: #f5f6f7;
    padding-bottom: 94px;
}


img {
    width: 100%;
}

.menu {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 35px;
}

.menu-item {
    margin-right: 70px;
    font-family: sans-serif;
    font-size: 18px;
    color: #16a085;
    text-transform: uppercase;
    text-decoration: none;
}
a:last-child {
    margin-right: 0;
}

h2 {
    padding-top: 56px;
    margin: -5px 0 34px;
    color: #373737;
    text-transform: uppercase;
    font-family: sans-serif;
    text-align: center;
}

p {
    color: #373737;
    text-align: center;
    font-family: sans-serif;
}

.text {
    margin-bottom: 41px;
}

button {
    display: block;
    margin: 0 auto;
    width: 192px;
    height: 51px;
    font-size: 12px;
    font-family: sans-serif;
    color: white;
    text-transform: uppercase;
    background-color: #16a085;
    border: none;
}
button:hover {
    cursor: pointer;
}
