.image-to-show {
    width: 400px;
    height: 400px;
}

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btn {
    margin-top: 20px;
    cursor: pointer;
    padding: 10px;
    border: none;
    font-size: 18px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    outline: none;
}

#btn-stop {
    background-color: firebrick;
    margin-right: 50px;
    margin-left: 15px;
}

#btn-active {
    background-color: green;
    display: none;
}