.table {
    border: 20px solid #3a4965;
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    color: #484848;
    font-size: 16px;
    font-family: 'Arimo', sans-serif;
}

td {
    border-right: 3px solid #d3d3d3;
    vertical-align: middle;
    height: 60px;
}

th {
    vertical-align: middle;
}

tr:nth-child(1n) {
    background-color: #f2f2f2;
}

tr:nth-child(2n) {
    background-color: #e3e3e3;
}

.head-title {
    background-color: #fafafa;
    width: 310px;
    height: 156px;
    font-weight: bold;
    line-height: 1.5;
}

.head-title-1 {
    font-size: 18px;
}

.head-title-2 {
    font-size: 30px;
}

.head-standard {
    border-left: 3px solid #d3d3d3;
    font-size: 24px;
    color: white;
    font-weight: bold;
    background-color: #89c331;
    width: 277px;
    height: 70px;
}

.head-ultimate {
    font-size: 30px;
    color: white;
    font-weight: bold;
    background-color: #f04a56;
    width: 277px;
    height: 70px;
}

.head-premium {
    font-size: 24px;
    color: white;
    font-weight: bold;
    background-color: #20807c;
    width: 277px;
    height: 70px;
}

.icons {
    color: #848484;
    font-size: 20px;
    padding-right: 10px;
}

.price {
    border-left: 3px solid #d3d3d3;
    background-color: #fafafa;
    padding-right: 90px; /*Щоб відцентрувати всередині ячєйки. Оскільки .99 і PER MONTH випали з потоку, то воно не правильно центрує.*/
}

.price-money {
    font-size: 60px;
    font-weight: bold;
}

.price-money-sup {
    vertical-align: super;
    font-size: 24px;
    position: absolute; /*Щоб забрати з потоку. Щоб PER MONTH розмістилося відразу під .99, а не після них.*/
}

.price-per-month {
    position: absolute; /*Щоб розмістити PER MONTH не на одній строчці з ціною, а вище, ближче до .99, як на макеті.*/
    top: 135px;
}

button {
    border: none;
    border-radius: 6px;
    width: 192px;
    height: 48px;
    text-transform: uppercase;
    margin: 30px 0;
    font-size: 16px;
    color: white;
}

button:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.button-contact {
    background-color: #484848;
    box-shadow: 0 6px 0 #404040;
}

.button-buy-standard {
    background-color: #89c331;
    box-shadow: 0 6px 0 #79b027;
}

.button-buy-ultimate {
    background-color: #f04a56;
    box-shadow: 0 6px 0 #df3a46;
}

.button-buy-premium {
    background-color: #20807c;
    box-shadow: 0 6px 0 #16736f;
}
