body{
    background-color: #111111;
    overflow: hidden;
   }

.title {
    padding-bottom: 20px;
    text-align: center;
}

.first-p {
    padding-bottom: 25px;
    text-align: justify;
}

.text {
    margin: 0 auto;
    text-align: justify;
    color: #ffcd12;
    font-size: 45px;
    font-weight: bold;
    line-height: 1.5;
    width: 900px;
    position: absolute;
    left: calc(900px - 50%); /*Щоб стало по-центру сторінки*/
    bottom: 0; /*Щоб починалося з самого низу, тобто від 0*/
    transform: perspective(300px) rotateX(20deg); /*Одне без одного не працює, тільки разом створює такий ефект. Без градусів просто йде вверх і все.*/
    transform-origin: 50% 90%; /*Почитати детальніше*/
    pointer-events: none; /*Щоб ми не могли нічого копіювати*/
    animation-name: wars;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes wars {
    0% {
        top: 100%;
}
    100% {
        top: -80%;
    }
}

