.password-form {
    display: flex;
    flex-direction: column;
}
.input-wrapper {
    position: relative;
    width: intrinsic;
    width: -moz-max-content;
    width: -webkit-max-content;
}

.input-wrapper input {
    min-width: 120px;
    padding: 10px;
    margin-bottom: 24px;
}

.input-wrapper i {
    position: absolute;
    right: 10px;
    top: 11px;
}

#btn{
    width: 150px;
}

.icon-password-hide {
    cursor: pointer;
    content: url("img/eye-slash-solid.svg");
    width: 20px;
}

.icon-password-show {
    cursor: pointer;
    content: url("img/eye-solid.svg");
    width: 18px;
}

#first-icon {
    cursor: pointer;
}

#second-icon {
    cursor: pointer;
}

#uncorrect-value {
    color: red;
    margin-top: -10px;
    display: none;
}

.enter-password {
    border: 2px solid red;
}